
# Tool support
/node_modules/

# Environment-specific
/.env
/.env.local

# Build files
/dist/
/build/
/typings/
/lib-cjs/
/lib-esm/

# Project
**/.vite
/dist/storybook
/storybook-static
/build-storybook.log

*storybook.log
